/*centering graphs*/
#graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*changing cursors*/
#graphs:hover {
  cursor: pointer;
}

#landing:hover {
  cursor: pointer;
}

#cardChart:hover {
  cursor: pointer;
}

#closeButton:hover {
  cursor: pointer;
}

/* landing and main page stuff */
#header {
  display: flex;
  margin: 15px;
  font-size: 75px;
}

#loader {
  height: 10%;
  width: 10%;
  padding: 17.5%;
}

#currencyMenu {
  margin: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  margin: 0.5%;
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#landing h2 {
  display: flex;
  justify-content: center;
  font-size: x-large;
}

#bottomText {
  margin-top: 0.6%;
  display: flex;
  font-size: x-large;
}

h1,
h3 {
  margin: auto;
}

#footer {
  margin-top: 0.75%;
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: rgb(45, 45, 51);
  color: whitesmoke;
}

a {
  color: whitesmoke;
}

p {
  line-height: 1.6;
}

#aboutSai h1 {
  font-size: large;
  font-weight: bold;
}

/* CARD - modal and related stuff */
.Modal {
  display: flex;
  position: absolute;
  top: 150px;
  left: 240px;
  right: 240px;
  bottom: 150px;
  background-color: white;
  border: 2.5px solid white;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  outline: none;
}

.Modal h1 {
  font-size: 100px;
  font-weight: bold;
  margin: 0;
  padding-left: 20px;
}

.Modal h2 {
  font-size: 45px;
  padding: 20px;
}

#closeButton {
  position: absolute;
  top: 0;
  right: 3px;
  background-color: transparent;
  border: 0;
  font-size: xx-large;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(105, 105, 105, 0.6);
}

/* card graph css */
#temp {
  display: flex;
}

#cardStuff {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#cardStuff h1 a:link {
  color: black;
  text-decoration: none;
}

#cardStuff h1 a:visited {
  color: black;
  text-decoration: none;
}

#cardStuff h1 a:hover {
  color: black;
  text-decoration: none;
}

#cardStuff h1 a:active {
  color: black;
  text-decoration: none;
}

/* animation */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 250%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
  animation-name: fadeIn;
}

.m-scene .scene_element--fadeinup {
  animation-name: fadeInUp;
}

/* chartjs css */
#lineGraph {
  display: inline;
}

#title {
  font-size: 47px;
  font-weight: bold;
  opacity: 0.2;
  z-index: -1;
  position: absolute;
}

#graphDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
