#graphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#header {
  display: flex;
  font-size: 85px;
}

#footer {
  display: flex;
  font-size: x-large;
}

h1,
h3 {
  margin: auto;
}

.Modal {
  display: flex;
  position: absolute;
  top: 150px;
  left: 240px;
  right: 240px;
  bottom: 150px;
  background-color: white;
  border: 2.5px solid white;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  outline: none;
}

.Modal h1 {
  font-size: 100px;
  font-weight: bold;
  margin: 0;
  padding-left: 20px;
}

.Modal h2 {
  font-size: 45px;
  padding: 20px;
}

#closeButton {
  position: absolute;
  top: 0;
  right: 3px;
  background-color: transparent;
  border: 0;
  font-size: xx-large;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(105, 105, 105, 0.6);
}

#temp {
  display: flex;
}

#cardStuff {
  display: flex;
  flex-direction: column;
  margin: 0;
}
